---
title: GFWaaS - GFW as a Service
---
ruby:
  services = [
    {name: 'AWS', color: '#F0931C', icon: 'fab fa-aws'},
    {name: 'Digital Ocean', color: '#007CF7', icon: 'fab fa-digital-ocean'},
    {name: 'Dropbox', color: '#005EF7', icon: 'fab fa-dropbox'},
    {name: 'Instagram', color: '#B92C8D', icon: 'fab fa-instagram'},
    {name: 'Twitter', color: '#1DA1F2', icon: 'fab fa-twitter'},
    {name: 'Google Play', color: '#00D1F7', icon: 'fab fa-google-play'},
    {name: 'Behance', color: '#1A70E1', icon: 'fab fa-behance'},
    {name: 'Reddit', color: '#F74300', icon: 'fab fa-reddit-square'},
    {name: 'Medium', color: 'black', icon: 'fab fa-medium'},
    {name: 'Facebook', color: '#4064AC', icon: 'fab fa-facebook-square'},
    {name: 'Flickr', color: '#F70080', icon: 'fab fa-flickr'},
    {name: 'Google Drive', color: '#F7CA4A', icon: 'fab fa-google-drive'},
    {name: 'Blogger', color: '#F65421', icon: 'fab fa-blogger'},
    {name: 'Google Chrome/Chrome OS', color: '#149B5A', icon: 'fab fa-chrome'},
    {name: 'CodePen', color: 'black', icon: 'fab fa-codepen'},
    {name: 'jsFiddle', color: '#46769F', icon: 'fab fa-jsfiddle'},
    {name: 'SlideShare', color: '#EF8F1C', icon: 'fab fa-slideshare'},
    {name: 'Soundcloud', color: '#F77D33', icon: 'fab fa-soundcloud'},
    {name: 'Telegram', color: '#289CCE', icon: 'fab fa-telegram'},
    {name: 'WhatsApp', color: '#30EA66', icon: 'fab fa-whatsapp'},
    {name: 'Wikipedia', color: 'black', icon: 'fab fa-wikipedia-w'},
    {name: 'WordPress', color: '#207196', icon: 'fab fa-wordpress'}
  ]

  features = [
    {icon: 'fab fa-firefox', image: {id: :vnc, alt: 'Test your website on a server in China, with a browser-based VNC.'}, title: 'Browser VNC', description: 'Log on to a Linux desktop (Xfce) running in China from your own browser. Test your website with a Chinese user point of view.'},
    {icon: 'fas fa-tachometer-alt', image: {id: :har, alt: 'Examine frontend performance of your website by importing HAR logs directly in your browser.'}, title: 'HAR Logs', description: 'GFWaaS can load your website in China and generate <a href="https://en.wikipedia.org/wiki/.har">HAR logs</a>, which can be exported to your browser so you can inspect detailed performance.'},
    {icon: 'fas fa-film', image: {id: :screencasts, alt: 'Watch how your website loads in a screencast recorded on a server in China.'}, title: 'Screencasts', description: "GFWaaS can also record how your website loads in a browser in China, and turn it into a screencast so you can monitor and share with your team."}
  ]

header
  .container
    h1= current_page.data.title
    #introduction Do you know your websites could become awfully slow or don't even load in China? GFWaaS helps you test the performance and identify the underlying bottlenecks.
    = partial 'form'
    .credit Photo by <a href="https://www.flickr.com/photos/jcb2u/1174985565/">jcb2u</a>. Modified under <a href="https://creativecommons.org/licenses/by-nd/2.0/">CC BY-ND 2.0</a>.
.container
  #sections
    section.why
      .row.justify-content-center
        .col-md-10.col-lg-10
          h2
            span.subtitle Why & What does it mean?
            span.title China's national Internet firewall, a.k.a The Great Firewall (GFW), together with countless political and technological restrictions, often makes websites outside of China awfully slow to load or even inaccessible. <br />For example, websites built on the following services could be blocked or barely usable in China.
          - services.each do |s|
            <i class="#{s[:icon]}" title="#{s[:name]}" style="color: #{s[:color]}"></i>
    section.what
      .row.justify-content-center
        .col-md-10.col-lg-10
          h2
            span.subtitle Okay. What to do?
            span.title Generally, you either figure out a way to host your website in China (a lot of paperwork) or optimize your website for China. Whichever way you choose, you always need to test your website for optimal user experience in China. That's where GFWaaS can help.
      .row
        - features.each do |f|
          .col-md.feature class="#{'last-child' if f == features.last}"
            h3 <i class="#{f[:icon]}"></i> #{f[:title]}
            = image_tag "images/#{f[:image][:id]}.png", alt: f[:image][:alt], srcset: "#{f[:image][:id]}.png 1x, #{f[:image][:id]}@2x.png 2x"
            div.description= f[:description]
    section.last-child
      .row.justify-content-center
        .col-md-10.col-lg-10
          h2
            span.subtitle Pricing & Availability?
            span.title GFWaaS is still a prototype and would need further refinement before launch. But we are getting there soon! If you are interested, please leave your email contact and we will keep you updated!
      .pricing
        table.table.table-borderless.table-responsive-sm
          tbody
            tr
              td
                h3 <span class="price">$199</span>/month
              td
                <span>=</span>
              td
                <i class="fas fa-tachometer-alt"></i> HAR Logs
              td
                span +
              td
                <i class="fas fa-film"></i> Screencasts
              td
                span +
              td
                <i class="fab fa-firefox"></i> Browser VNC
            tr
              td
                h3 <span class="price">$49</span>/month
              td
                <span>=</span>
              td
                <i class="fas fa-tachometer-alt"></i> HAR Logs
              td
                span +
              td
                <i class="fas fa-film"></i> Screencasts
              td colspan=2
    .d-sm-block.d-md-none.d-lg-none.d-xl-none
      = partial 'form'
footer
  .container
    .row
      .col-md
        = image_tag 'me.jpg', srcset: "me.jpg 1x, me@2x.jpg 2x"
        p <strong>Ding Yu</strong> - VP of Product & Engineering at Japanfoodie. Experienced web designer and developer. Pink Floyd and Murakami Haruki diehard. Find more about me on <a href="https://dingyu.me">my homepage</a>, <a href="mailto:fe">Email</a>, <a href="https://twitter.com/felixding_">Twitter</a> and <a href="https://instagram.com/felixding">Instagram</a>.
        .copyright © 2019. Special thanks to Li, the woman I love.
      .col-md
        .d-none.d-sm-none.d-md-block.d-lg-block.d-xl-block
          = partial 'form'
